*{
	margin: 0;
	padding: 0;
}

.container{
	width: 1020px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif; 
}
/*PORTFOLIO*/
.portfolio{
	height: 863px;
	border-bottom: 6px solid #323746;
	background-color: #2d303a;
}

.portfolio-h2{
	color: #666d89;
	padding-top: 63px;
	padding-left: 39px;
	font-size: 30px;
	font-weight: bolder;
}

.portfolio-p{
	color: #666d89;
	padding-top: 23px;
	padding-left: 40px;
	letter-spacing: 0.1px;
	font-size: 18px;
	
}

.filters{
	margin-top: 14px;
	padding-left: 40px;
}

.filters-link{
	display: inline-block;
	color: #666d89;
	text-decoration: none;
	font-size: 12px;
	padding: 3px 6px;
	margin: 0 2px;
	border: solid 1px #666d89;
	border-radius: 5px;
	transition: all 0.3s ease;
	word-spacing: .1px;
	text-align: center;
}
.filters-link:nth-child(1){
	padding: 3px 6px;
	
}

.filters-link:nth-child(2){
	padding: 3px 6px;
	margin-left: 4px;
}
.filters-link:nth-child(3){
	padding: 3px 4px ;
	margin-left: 3px;
}

.filters-link:nth-child(4){
	padding: 3px 7px;
	margin-left: 4px;
}

.filters-link:hover{
	color: #aeaeb0;
	border: solid 1px #aeaeb0;
}

.gallery{
	margin-top: 19px;
	margin-left: 20px;
	display: grid;
	grid-template-columns: repeat(4, 24%);
	justify-items: end;
	row-gap: 16px;

}

.gallery-img:nth-child(n+13) {
  display: none;
}

/*ABOUT*/
.about{
	height: 728px;
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
	
}

.about-h2{
	color: #666d89;
	padding-top: 63px;
	padding-left: 40px;
	font-size: 29px;
	font-weight: bold;
}

.about-p{
	color: #666d89;
	padding-top: 19px;
	padding-left: 40px;
	padding-right: 40px;
	letter-spacing: 0.4px;
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
	letter-spacing: 0.022rem;
	
}

.staff{
	display: grid;
  grid-template-columns: repeat(3, 299px);
	grid-column-gap: 21px;
	margin-top: 44px;
	margin-left:40px;
}

.networks{
	margin-top: 23px;
	margin-left: -2px;
	user-select: none;
}

.networks-link{
	margin-left: 3px;
}

.staff-h3{
	padding-top: 13px;
	font-size: 17px;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-spacing: -3px;
}

.staff-p{
	font-size: 12px;
	text-align: justify;
	padding-top: 11px;
	line-height: 21px;
	word-spacing: -1px;
}